body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: lightblue;
}

h2{
    color: lightgreen;
    font-style: italic;
}

ul li a{
    color: lightsalmon;
}

ol li a{
    color: lightcoral;
}

#p1{
    color: grey;
}

.p2{
    color: darkgray;
}

.cetak-tebal{
    font-weight: bold;
}

p.cetak-tebal{
    font-style: italic;
}